<!DOCTYPE html>
<html lang="de">
  
  {{> htmlheader}}
  
  <body>
    
    {{> nav items=pagesList}}
    
    <div class="container-sm">
        <div class="row justify-content-center">
            <div class="col limit-width-880">
                <h1>404 - Seite nicht Gefunden</h1>
              <h2>Es tut uns leid, aber die Seite</h2>
              <p class="font-monospace mt-3 ms-4 mb-0 fs-2">/{{target}}</p>
              <h2>gibt es nicht.</h2>
            </div>
        </div>
    </div>
    
    {{> footer}}
    
  </body>
</html>