<!DOCTYPE html>
<html lang="de">
  
  {{> htmlheader}}
  
  <body>
    
    {{> nav items=pagesList}}
    
    <div class="container-sm">
      <h1 class="mb-0">Impressum</h1><br>
      
        <p>
          Angaben gemäß § 5 TMG <br><br>         
          
          Wir erheben keinerlei Anspruch auf die Texte und Bilder auf den Unterseiten Fairtraide, Geschichte und Herstellung <br>  
          und haben nicht vor die Seite nach Abgabe des Projekts zu veröffentlichen.
        </p>
        
        <h3>
            Kontakt <br>
        </h3>
        <p>
          Baldur Siegel <br>
          E-Mail: siegel.baldur-it20@it.dhbw-ravensburg.de<br><br>
          Ralf Ehli: <br>
          E-Mail: ehli.ralf-it20@it.dhbw-ravensburg.de<br><br>
          Jonas Straub <br>
          E-Mail: straub.jonas-it20@it.dhbw-ravensburg.de<br><br>
        </p>
    
    </div>
    
 </body>
</html>