<footer class="text-center">
    <hr class="limit-width-972 mx-auto mt-0 hr-color-light">
    <div class="d-flex justify-content-between limit-width-972 mx-auto mt-0">
        <p class="mx-2">Schokofinder Ltd. &#169;2022-2022</p>
        <a href="/impressum" class="footer-link mx-2 text-light font-family-primary text-decoration-underline" >Impressum</a>
    </div>
</footer>

<!-- bootstrap js -->
<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>