<ul class="nav align-items-center bg-color-brown-dark">
    <a href="/" class="logo-svg">
        <svg version="1.1" viewBox="0 0 67.733 67.733" xmlns="http://www.w3.org/2000/svg">
            <g display="none">
                <path d="m8.1672 37.61 7.6181-18.942 30.61-14.413 12.903 1.7158 2.6766 6.1082 0.87185 8.6431-9.4072 28.498-30.145 10.974-15.402-13.25z" fill="#fff"/>
            </g>
            <g display="none">
                <path d="m53.439 49.22 9.4072-28.498-0.87185-8.6431m-38.68 48.115 30.145-10.974-2.5144-6.8742m-42.758-4.7356 0.64754 8.9942 14.48 13.59 1.1217-7.9093m-0.0542-20.837 5.4354 9.9972m-21.63-3.8344 16.195-6.1628 1.9412-12.035m-10.518-0.74416 10.518 0.74416 17.471 3.9795m-19.358 28.893 5.3812-10.84 13.977-18.053 18.2-11.312m-53.807 25.531 7.6181-18.942 30.61-14.413 12.903 1.7158 2.6766 6.1082-11.05 30.267-26.509 9.939z" fill="none" stroke="#482419" stroke-width="2.1167"/>
            </g>
            <g>
                <path d="m8.8147 46.604 14.48 13.59 30.145-10.974 9.4072-28.498-0.87185-8.6431-2.6766-6.1082-12.903-1.7158-30.61 14.413-7.6181 18.942z" fill="#fff" stroke="#482419" stroke-width="2.6458"/>
            </g>
            <g fill="none" stroke="#482419" stroke-linejoin="round" stroke-width="1.5875">
                <path d="m15.785 18.668 10.518 0.74416-1.9412 12.035-16.195 6.1628z"/>
                <path d="m8.1672 37.61 0.64754 8.9942 14.48 13.59 1.1217-7.9093z"/>
                <path d="m23.295 60.194 30.145-10.974-2.5144-6.8742-26.509 9.939-1.1217 7.9093"/>
                <path d="m24.362 31.447-16.195 6.1628 16.249 14.675 5.3812-10.84z"/>
                <path d="m15.785 18.668 30.61-14.413 12.903 1.7158 2.6766 6.1082-18.2 11.312-17.471-3.9795z"/>
                <path d="m24.416 52.285 5.3812-10.84 13.977-18.053 18.2-11.312-11.05 30.267z"/>
                <path d="m61.974 12.079 0.87185 8.6431-9.4072 28.498-2.5144-6.8742z"/>
            </g>
        </svg>
    </a>

    {{#each items}}
        <li class="nav-item">
            <a href="/{{this.name}}" class="nav-link text-light font-family-primary text-decoration-underline" >{{capitalizeFirst this.name}}</a>
        </li>
    {{/each}}
</ul>